# Python cache
__pycache__/
*.py[cod]
*$py.class

# Package/build metadata
*.egg-info/
build/
dist/
*:Zone.Identifier

# Test/cache folders
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# VS Code local settings
.vscode/

# OS files
.DS_Store
Thumbs.db